# Copyright IT PEOPLE Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
services: 
  redis: 
    container_name: redis
    image: "redis:latest"
    ports: 
      - "6379:6379"
version: "2"
